<header class="py-1">
  <div class="container text-center">
    <div class="row justify-content-center pt-md-5 pt-4">
      <div class="col-md-8 site-brand">
        <h1 class=" display-1 site-title mb-0">{{ site.title | escape | upcase}}</h1>
        <h6 class="site-subtitle">{{ site.author | escape }}</h6>
      </div>
      <div class="col-md-8">
        <nav class="navbar d-block1 justify-content-center">
          <ul class="navbar-nav flex-row text-center">
            {% for item in site.data.nav %}
            <li class="nav-item px-md-1 px-0 mx-md-2 mx-1 {% if page.url == item.link %}active{% endif %}">
              <a class="nav-link p-1" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>