---
# Only the main Sass file needs front matter (the dashes are enough)
---
// @import "minima";
$icon-size: 16px;
$default-font: "Manrope";
$display-font: "Playfair Display";
$color-lighter: #CCCCCC;
$color-black: #191919;


body {
    font-family: $default-font;
    color: $color-black;
}
h1,h2,h3{font-family: $display-font;}

.svg-icon {
    width: $icon-size;
    height: $icon-size;
}
.site-brand{
    position: relative;
}
.site-title {
    font-family: $display-font;
}
.site-subtitle {
    position:relative;
    text-align: center;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #CCCCCC;
    padding-left: 1em;
}
.page-title{
    // text-align: center;
}
.post-content{
    line-height: 1.6em;
    font-size: 1.1em;
    text-align: justify;
}
.post-content p{
    margin-bottom: 1.2em;
}
.nav-item.active{
    border-bottom: 2px solid #191919;
}

.text-lighter{
    color: #CCCCCC
}