---
# Only the main Sass file needs front matter (the dashes are enough)
---
// @import "minima";
$icon-size: 16px;
$default-font: "Manrope";
$display-font: "Playfair Display";
$color-lighter: #CCCCCC;
$color-black: #191919;


body {
    font-family: $default-font;
    color: $color-black;
}
h1,h2,h3{font-family: $display-font;}

.svg-icon {
    width: $icon-size;
    height: $icon-size;
}
.site-brand{
    position: relative;
}
.site-title {
    font-family: $display-font;
}
.site-subtitle {
    position:relative;
    text-align: center;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #CCCCCC;
    padding-left: 1em;
}
.page-title{
    // text-align: center;
}
.post-content{
    line-height: 1.8em;
    font-size: 1.15em;
    // text-align: justify;
}
.post-content p{
    margin-bottom: 1.4em;
}
.nav-item.active{
    border-bottom: 2px solid #191919;
}

.text-light{
    color: #AAAAAA !important;
}
.text-lighter {
    color: #CCCCCC
}

@media only screen and (max-width: 767px) {
    .site-subtitle {
        position: relative;
        font-size: .8em;
        letter-spacing: 0.6em;
        padding-left: 0.6em;
    }
    .post-content{
    font-size: 1.05em;
    }

}