---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading d-none">{{ page.list_title | default: "Posts" }}</h2>
  {%- for post in site.posts -%}
  <h5 class="border-bottom d-flex py-3 mb-1">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <a class="text-decoration-none col" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
    <span class="post-meta col-md-3 text-end">{{ post.date | date: date_format }}</span>
  </h5>
  {%- endfor -%}


  {%- endif -%}

</div>